/* Please do not use this import in production. You could download this font from here https://fontstorage.com/font/montez */
@import "http://fonts.fontstorage.com/import/montez.css";
/*
	Montez, 400
*/
/* Please do not use this import in production. You could download this font from here https://fontstorage.com/font/lusitana */
@import "http://fonts.fontstorage.com/import/lusitana.css";
/*
	Lusitana, 400, 700
*/


.sulka  a{

    text-decoration: none;
}
 .sulka{
     margin-bottom: 5%;
 }

.sulka a:hover{
    color: #d9534f;
    text-decoration: none;
}
.product a{
    font-size: 130%;
}


.name{
    text-align: center;
    margin-bottom: 3%;
    font-family:Lusitana;

}
.description h1{
    text-align: center;
    padding-top: 10%;
}
 .description p{
     font-size: 160%;
     margin-bottom: 10%;
 }
 .price{
     font-size: 200%;
     font-family:Montez;
     margin-top: 20%;
     text-align: center;
 }

 .btnkorzina{
     margin-top: 20%;
 }


.price {
    font-weight:bold;
    font-size: 200%;
}


.plus{
    font-size: 200% ;
    margin-top: 200%;
    text-align: center;
}

.ravno{
    font-size: 200% ;
    margin-top: 100px;
    text-align: center;
}
.ravno:after {
    font-family:'FontAwesome';
    content: "\f0a4";
}

@media only screen and (min-width: 600px) and (max-width: 770px) {

    .priceB{
        text-align: center;

    }
    .nameB{
        text-align: center;
        font-size: 100%;
    }


}

@media only screen and (max-width: 770px) {

    .plus{
        margin-top: 25%;
        margin-bottom: 25%;
    }
    .ravno{
        margin-top: 25%;
    }
    .ravno:after {
        font-family:'FontAwesome';
        content: "\f0a7";

    }
}



.module_item{
    float: left;


}
.thumbnail img {
    max-height: 250px;

}

.thumbnail .description {
    color: #7f7f7f;
}



.image{
    min-height: 250px;
    max-height: 250px;
}














